block append css 
    link(rel="stylesheet" href="/src/components/button/button.sass")

mixin button(variant="primary", text="", src="", alt="")
    button(class=`button button--${variant}`)=text 
        if src
            img(src=src, alt=alt)

