mixin button(variant="primary", text="", icon, isActive=false)
    button(class=`button button--${variant} ${isActive ? 'button--active' : ''}`)=text 
        if icon
            svg.button__icon 
                use(xlink:href=`/src/assets/icons.svg#${icon}`)

