mixin button(variant="primary", text="", src="", alt="", isActive=false)
    button(class=`button button--${variant} ${isActive ? 'button--active' : ''}`)=text 
        if src
            img(src=src, alt=alt)

