include /src/components/button/button.pug

mixin menu(variant, ...list)
    - const variantClass = `menu menu--${variant}`
    nav(class=variantClass)
        each item in list 
            +button(variant, item.text, item.icon, item.isActive)