mixin navCard(title, link, icon, bgImage)
    a(
        href=link,
        class=`navCard title title--small navCard--${bgImage}`
    )
        span.title--small.navCard__title= title 
        if icon
            svg.navCard__icon
                use(xlink:href=`/src/assets/icons.svg#${icon}`)