extends /src/components/layout/layout.pug
include /src/components/header/header.pug
include /src/components/slider/slider.pug
include /src/components/divider/divider.pug
include /src/components/news/news.pug

block title 
    title INDEX 

block css 
    link(rel="stylesheet", href="/src/pages/index.sass")

block content 
    +header()
    main
        +slider()  
        +divider()
        +news()
    footer Footer
    