include /src/components/logo/logo.pug
include /src/components/menu/menu.pug

mixin header()
    header.header 
        .header__up-section
            +logo(true)
            +menu(
                "primary",
                {text: "RU", icon: "arrow"},
                {text: "", icon: "eye"},
                {text: "Личный кабинет"},
                {text: "Сервисы", icon: "arrow"},
                {text: "Школьникам"},
                {text: "Родителям"},
            )

        .header__down-section 
            +menu(
                "stretched",
                {text: "Школа"},
                {text: "Питание"},
                {text: "Спортивный клуб СТАРТ"},

            )

