include /src/components/navCard/navCard.pug

mixin navCards()
    -
        const cards = [
            {
                title: "Школа",
                link: '/#',
                bgImage: 'school'
            },
            {
                title: "Питание",
                link: '/#',
                icon: 'burger',
                bgImage: 'food'
            },
            {
                title: "Преподавательский состав",
                link: '/#',
                icon: 'peoples',
                bgImage: 'teachers'
            },
            {
                title: "Независимая оценка качетсва образования",
                link: '/#',
                bgImage: 'sie'
            },
            {
                title: "Спортивный клуб",
                link: '/#',
                icon: 'sportsman',
                bgImage: 'sport'
            },
            {
                title: "Документы",
                link: '/#',
                icon: 'paper',
                bgImage: 'docs'
            }
        ]

    .navCards 
        h2.title.navCards__title Портальные ссылки
        .navCards__body
            each item in cards 
                +navCard(item.title, item.link, item.icon, item.bgImage)