@use '../../styles/color'
@import '../../styles/typography'

.newsCard
    display: flex
    max-width: 60.0rem

    &__body
        padding: 2.4rem 1.2rem 0 1.2rem 
        display: flex
        flex-direction: column
        align-items: center
        gap: 1.2rem

    &__title
        @extend .title
        @extend .title--small
        text-transform: uppercase

    &__divider
        width: 100%
        height: 1px
        background-color: color.$primary

    &__description
        @extend .paragraph
        text-align: justify

    &__footer
        width: 100%
        margin-top: auto
        display: flex
        align-items: center
        justify-content: space-between
        gap: 1.2rem

    &__date
        display: flex
        align-items: center
        gap: 1.2rem

        & > span
            @extend .paragraph
            @extend .paragraph--superSmall
            color: color.$neitral-3

    &__link
        @extend .paragraph
        @extend .paragraph--superSmall
        color: color.$primary