@use '../../styles/color'
@import '../../styles/typography'

.news
    &__header
        display: flex
        justify-content: space-between
        align-items: center
        margin: 1.2rem 0

    &__row
        display: flex
        flex-wrap: wrap

    &__pagination
        display: flex
        padding-top: 1.2rem
        flex-direction: row-reverse
